The user wants to edit the following scenario:

<scenario_to_edit>
```json
{{ current_scenario | tojson_pretty }}
```
</scenario_to_edit>

Here is the user's edit request:

<user_edit_request>
{{ edit_request }}
</user_edit_request>
